<!DOCTYPE html>
<html>
    <head>
        <title>Movie Search API Demonstration</title>
        
        <link rel="stylesheet" type="text/css" href="/style.css">
    </head>
    <body>
        <h1>Search For a Movie</h1>

        <form action="/results" method="GET">
            <input type="text" name="search" placeholder="Search Term">
            <input type="number" name="resNum" value="5">
            <input type="submit">
        </form>
